<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>迎天下-招商-审核</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="conbody">
	<div class="headerCon">
		<div class="header clearfix">
			<div class="logoCon">
				<img src="#" class="logo" alt="迎天下,logo"/>
			</div>
			<div class="header-title">入驻系统</div>
			<a href="#" class="header-userCenter">商家中心</a>
		</div>
	</div>
	<div class="stepCon">
		<div class="stepLine">
			<div class="step-one step-all">
				<p class="step-num step-already">1</p>
				<div class="step-text">入驻须知</div>
			</div>
			<div class="step-two step-all">
				<p class="step-num step-already">2</p>
				<div class="step-text">信息提交</div>
			</div>
			<div class="step-three step-all">
				<p class="step-num step-already">3</p>
				<div class="step-text">等待审核</div>
			</div>
			<div class="step-four step-all">
				<p class="step-num">4</p>
				<div class="step-text">保证金缴纳</div>
			</div>
			<div class="step-five step-all">
				<p class="step-num">5</p>
				<div class="step-text">入驻成功</div>
			</div>
			<div class="step-curLine step-curline-three"></div>
		</div>
	</div>
	<div class="mainCon">
		<div class="check-status-con">
			<div class="check-status clearfix">
				<i class="check-status-icon"></i>
				<p class="check-status-text">入驻申请已成功提交！<span class="check-status-textDesc">您可登陆本账号查看审核进度，或者关注短信和邮箱了解进度。</span></p>
			</div>
			<p class="check-status-desc">温馨提示：审核结果会在下方展示的最迟完成时间内反馈，逾期未反馈，您可来电咨询进度。</p>
		</div>
		<div class="check-status-con">
			<div class="check-status clearfix">
				<i class="check-status-icon check-status-icon-wrong"></i>
				<p class="check-status-text">复核未通过！<span class="check-status-textDesc">请点击“修改资料”按照提示进行修改并提交。</span></p>
			</div>
		</div>
		<div class="check-status-con">
			<div class="check-status clearfix">
				<i class="check-status-icon"></i>
				<p class="check-status-text">恭喜，审核流程已全部完成！<span class="check-status-textDesc">您的迎天下服务账户名为迎天下专营店，请按此账户名尽快登陆商家中心，根据提示完成后续操作后，方可冻结/缴纳保证金，发布商品，申请店铺上线。</span></p>
			</div>
		</div>
		<div class="rightContent">
			<h3 class="check-title">审核中......</h3>
			<div class="check-card-con">
				<span class="check-card-text">验证银行打款金额：</span>
				<input type="text" class="check-card-input" />
				<span class="check-card-button">完成</span>
			</div>
			<p class="check-card-alert">（在公司资质信息提交后3个工作日内，迎天下平台将给账户打款，请在收款的后7个工作日内，输入账单中的银行金额）</p>
			<div class="check-step-con">
				<ul class="check-step-line clearfix">
					<li class="check-step-move active">1、商家提交资料</li>
					<li class="check-step-move active">2、初步审核中</li>
					<li class="check-step-move active-false">3、复核</li>
					<li class="check-step-move">4、审核通过</li>
				</ul>
				<ul class="check-step-time clearfix">
					<li class="check-step-timeItem">2015-03-16<br />15:01:36</li>
					<li class="check-step-timeItem">约4个工作日</li>
					<li class="check-step-timeItem">约4个工作日
						<div class="check-alert-con">
							<div class="check-alert-arrow"></div>
							<div class="check-alert-title">本次提交资料未通过！</div>
							<p class="check-alert-text">请在15个工作日内完成修改并提交，逾期未提交，申请状态将被重置。</p>
							<div class="check-alert-btn">修改资料</div>
						</div>
					</li>
					<li class="check-step-timeItem">约4个工作日</li>
				</ul>
				<div class="check-time-con">
					<h3 class="check-time-title">审核过程</h3>
					<div class="check-time-table">
						<div class="check-time-thead">
							<span class="check-time-thead-item">开始时间</span>
							<span class="check-time-thead-item">最迟完成时间</span>
							<span class="check-time-thead-item">完成时间</span>
							<span class="check-time-thead-item">审核结果</span>
						</div>
						<div class="check-time-tbody">
							<span class="check-time-tbody-item">—</span>
							<span class="check-time-tbody-item">—</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">提交申请</span>
						</div>
						<div class="check-time-tbody">
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">账户验证码审核</span>
						</div>
						<div class="check-time-tbody">
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">初审通过</span>
						</div>
						<div class="check-time-tbody">
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">—</span>
							<span class="check-time-tbody-item uncheck">复审中</span>
						</div>
						<div class="check-time-tbody">
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">2015-03-16</span>
							<span class="check-time-tbody-item">—</span>
							<span class="check-time-tbody-item uncheck">复核通过</span>
						</div>
					</div>
				</div>
				<p class="check-text check-text-grey">若复核通过，工作人员将即时授权品牌和类目，完成后系统将以邮件和短息方式，将账户名及登录密码发送给商家。商家需登录迎天下商家中心，根据提示完成后续工作。</p>
				<p class="check-text">注：在收到账户名和密码的15天内完成保证金的冻结缴纳操作，逾期未操作，本次申请将作废。</p>
			</div>
		</div>
		<div class="agreementBtn" id="agreementBtn">审核通过，下一步</div>
	</div>
</div>
</body>
</html>
