<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>迎天下-招商-保证金</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="conbody">
	<div class="headerCon">
		<div class="header clearfix">
			<div class="logoCon">
				<img src="#" class="logo" alt="迎天下,logo"/>
			</div>
			<div class="header-title">入驻系统</div>
			<a href="#" class="header-userCenter">商家中心</a>
		</div>
	</div>
	<div class="stepCon">
		<div class="stepLine">
			<div class="step-one step-all">
				<p class="step-num step-already">1</p>
				<div class="step-text">入驻须知</div>
			</div>
			<div class="step-two step-all">
				<p class="step-num step-already">2</p>
				<div class="step-text">信息提交</div>
			</div>
			<div class="step-three step-all">
				<p class="step-num step-already">3</p>
				<div class="step-text">等待审核</div>
			</div>
			<div class="step-four step-all">
				<p class="step-num step-already">4</p>
				<div class="step-text">保证金缴纳</div>
			</div>
			<div class="step-five step-all">
				<p class="step-num">5</p>
				<div class="step-text">入驻成功</div>
			</div>
			<div class="step-curLine step-curline-four"></div>
		</div>
	</div>
	<div class="mainCon">
		<div class="rightContent">
			<h1 class="deposit-title">保证金缴纳</h1>
			<p class="deposit-text">您需要缴纳保证金5000元，2015-04-13前未缴纳，您的本次申请将被作废。</p>
			<p class="deposit-text grey">完成保证金缴纳24后才能使用品牌及类目发布商品。</p>
		</div>
		<div class="deposit-con" id="tabCon">
			<div class="deposit-tab-con"></div>
			<ul class="deposit-tabcon-con clearfix">
				<li class="deposit-tabcon">
					<input type="radio" class="deposit-radio" name="payMent" />
					<i class="deposit-tabcon-icon"></i>
				</li>
				<li class="deposit-tabcon">
					<input type="radio" class="deposit-radio" name="payMent" />
					<i class="deposit-tabcon-icon wei"></i>
				</li>
			</ul>
			<div class="deposit-pay-con">
				<p class="deposit-pay-text">支付<span class="deposit-pay-desc">￥5000.00</span></p>
				<div class="deposit-pay-btn">去付款</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
