<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-招商-首页</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
<script src="../static/js/domReady.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
myReady(function(){
	index();
});
</script>
</head>
<body>
<div class="conbody">
	<div class="headerCon index-header">
		<div class="header clearfix">
			<div class="logoCon">
				<img src="#" class="logo" alt="迎天下,logo"/>
			</div>
			<div class="header-title">入驻系统</div>
			<a href="#" class="header-userCenter">迎天下首页</a>
		</div>
	</div>
	<div class="nav-con">
		<div class="nav-main">
			<a href="#" class="nav-link nav-link-active">招商首页</a>
			<a href="#" class="nav-link">平台优势</a>
			<a href="#" class="nav-link">招商标准</a>
			<a href="#" class="nav-link">入驻流程</a>
			<a href="#" class="nav-link">明星商家</a>
			<a href="#" class="nav-link">帮助中心</a>
		</div>
	</div>
	<div class="banner-con">
		<div class="banner-main">
			<a href="#" class="banner-in-btn" id="inBtn">我要入驻</a>
			<a href="#" class="banner-pace-btn">查询入驻进度</a>
		</div>
	</div>
	<ul class="index-list clearfix">
		<li class="index-item">
			<i class="index-item-icon"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">信息公告</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">信息公告</a>
				</dd>
			</dl>
		</li>
		<li class="index-item">
			<i class="index-item-icon company"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">招商标准</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">招商方向</a>
					<a href="#" class="index-item-link">招商政策</a>
					<a href="#" class="index-item-link">入驻资质</a>
				</dd>
			</dl>
		</li>
		<li class="index-item">
			<i class="index-item-icon pay"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">资费标准</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">资费标准</a>
					<a href="#" class="index-item-link">代运资费</a>
					<a href="#" class="index-item-link">入驻须知</a>
				</dd>
			</dl>
		</li>
		<li class="index-item">
			<i class="index-item-icon good"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">平台优势</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">发展优势</a>
					<a href="#" class="index-item-link">物流优势</a>
					<a href="#" class="index-item-link">品牌优势</a>
				</dd>
			</dl>
		</li>
		<li class="index-item">
			<i class="index-item-icon help"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">帮助中心</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">平台总则</a>
					<a href="#" class="index-item-link">业务规范</a>
					<a href="#" class="index-item-link">店铺促销</a>
				</dd>
			</dl>
		</li>
		<li class="index-item">
			<i class="index-item-icon contact"></i>
			<dl class="index-item-text">
				<dt class="index-item-title">联系方式</dt>
				<dd class="index-item-linkCon">
					<a href="#" class="index-item-link">招商热线：</a>
					<a href="#" class="index-item-link">邮箱：</a>
					<a href="#" class="index-item-link">地址：</a>
				</dd>
			</dl>
		</li>
	</ul>
	<h3 class="index-title">入驻流程</h3>
	<ul class="index-step-list clearfix">
		<li class="index-step-item">
			<i class="index-step-icon"></i>
			<dl class="index-step-text">
				<dt class="index-step-title">注册会员</dt>
				<dd class="index-step-content">注册企业会员帐号</dd>
				<dd class="index-step-content">激活帐号</dd>
			</dl>
		</li>
		<li class="index-step-item">
			<i class="index-step-icon shenqin"></i>
			<dl class="index-step-text">
				<dt class="index-step-title">提交申请</dt>
				<dd class="index-step-content">填写申请信息，提交资质</dd>
				<dd class="index-step-content">提交开店申请</dd>
			</dl>
		</li>
		<li class="index-step-item">
			<i class="index-step-icon shenhe"></i>
			<dl class="index-step-text">
				<dt class="index-step-title">等待审核</dt>
				<dd class="index-step-content">3个工作日之内给出审核结果</dd>
				<dd class="index-step-content">若资质未通过审核，请在15日工作日内完成修改并提交，逾期未提交 申请将失效，提交资质</dd>
			</dl>
		</li>
		<li class="index-step-item">
			<i class="index-step-icon money"></i>
			<dl class="index-step-text">
				<dt class="index-step-title">缴纳保证金</dt>
				<dd class="index-step-content">线上支付所需保证金</dd>
			</dl>
		</li>
		<li class="index-step-item">
			<i class="index-step-icon success"></i>
			<dl class="index-step-text">
				<dt class="index-step-title">入驻成功</dt>
				<dd class="index-step-content">开通运营权限</dd>
				<dd class="index-step-content">开店完成发布商品</dd>
			</dl>
		</li>
	</ul>
	<h3 class="index-title">明星商家</h3>
	<ul class="index-brand-list clearfix">
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
		<li class="index-brand-item">
			<img class="index-brand-item-img" src="#"/>
		</li>
	</ul>
</div>
<div class="mark" id="mark" style="display:none;"></div>
<div class="loginCon" id="loginCon" style="display:none;">
	<div class="close" id="closeLogin"></div>
	<div class="content">
		<i class="name-icon"></i>
		<input type="text" class="content-input" placeholder="用户名/邮箱" />
	</div>
	<div class="alert">11111111</div>
	<div class="content">
		<i class="password-icon"></i>
		<input type="text" class="content-input" placeholder="密码"/>
	</div>
	<div class="alert">111111111111</div>
	<div class="clearfix">
		<div class="contentBtn">登录</div>
		<a href="javascript:void(0)" class="register" id="registerBtn">立即注册</a>
	</div>
</div>
<div class="registerCon" id="registerCon" style="display:none;">
	<div class="close" id="closeRegister"></div>
	<div class="content">
		<input type="text" class="content-input" placeholder="用户名" />
	</div>
	<div class="alert">11111111</div>
	<div class="content">
		<input type="text" class="content-input" placeholder="邮箱"/>
	</div>
	<div class="alert">11111111</div>
	<div class="content">
		<input type="text" class="content-input" placeholder="登录密码"/>
	</div>
	<div class="alert">11111111</div>
	<div class="content">
		<input type="text" class="content-input" placeholder="确认密码"/>
	</div>
	<div class="alert">111111111111</div>
	<div class="contentBtn">立即注册</div>
</div>
</body>
</html>
