<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<div style="width:700px">
	<div style="height:50px;background:#333;line-height;50px;">
		<img src="#" style="margin-left:20px;display:inline-block;vertical-align:middle;height:40px;"/>
	</div>
	<div style="font-size:12px;font-family:'微软雅黑';padding:25px 0;">HI,<span style="color:#fd9500;font-size:12px;font-family:'微软雅黑';">user12314123</span></div>
	<div style="font-size:12px;font-family:'微软雅黑';">感谢您注册迎天下会员。</div>
	<div style="font-size:12px;font-family:'微软雅黑';">请点击下面的链接激活您的帐号，完成注册</div>
	<a href="#" style="font-size:12px;font-family:'微软雅黑';color:#fd9500;word-break: break-word;word-wrap: break-word;padding:20px;display:block;">https://www.ytxcom/accounts/register.do?method=activityAccount&uid=syrah&actiCode=4C-21-15-D3-0E-88-44-C1-F0-EE-F2-0F-89-35-5B-74&nls=zhGKu2D4ad9aoUdm7U%2Fk7QmTubWy6FqhaquxMqLRSyW7EsK4Zi333S%2BoJipOoZn%2FgYF8vrIfCEFAcRybl%2FvmvRIQAw21AGyLGLHjFJwRXsy8O3Br%2FrBZ</a>
	<div style="font-size:12px;font-family:'微软雅黑';">(如果点击链接没反应，请复制激活链接，粘帖到浏览器地址栏后访问)</div>
	<div style="font-size:12px;font-family:'微软雅黑';margin-top:20px;">为了保证您的帐号信息安全，请您定期修改密码。</div>
	<div style="font-size:12px;font-family:'微软雅黑';margin-top:40px;line-height:24px;color:#999;">激活链接24小时内有效，超过24小时后请重新注册。<br />激活链接将在您激活一次后失效</div>
</div>
</body>
</html>
