<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-订单支付</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="headerCon index-header">
		<div class="header clearfix">
			<div class="logoCon">
				<img src="#" class="logo" alt="迎天下,logo"/>
			</div>
			<div class="header-title">入驻系统</div>
			<a href="#" class="header-userCenter">迎天下首页</a>
		</div>
	</div>
	<div class="main-content-container">
		<div class="payment-content">
			<h2 class="payment-title">
				<i class="payment-title-icon"></i>
				<span class="payment-title-text">微信支付</span>
			</h2>
			<div class="payment-main-content">
				<div class="payment-code-pay">
					<img src="#" class="payment-code-img"/>
				</div>
				<div class="payment-pay-prompt">
					<i class="payment-prompt-icon"></i>
					<span class="payment-prompt-text">请使用微信“扫一扫”<br />扫描二维码支付</span>
				</div>
				<div class="payment-price">￥<span class="payment-price-value">109</span></div>
			</div>
			<div class="payment-alert">
				<a href="#" class="payment-alert-text">完成付款提示?</a>
				<a href="#" class="payment-alert-icon"></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
