<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-申请退款</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="header">
		<div class="header-topNav-container">
			<div class="header-topNav">
				<a href="#" class="header-topNav-link">登录</a>
				<a href="#" class="header-topNav-link">注册</a>
				<a href="#" class="header-topNav-link">购物车</a>
				<a href="#" class="header-topNav-link">我的订单</a>
			</div>
		</div>
	</div>
	<div class="refund-container">
		<div class="refund-steps">
			<div class="refund-line">
				<div class="refund-step step-one active">
					<div class="step-num">1</div>
					<p class="step-text">买家申请退款</p>
				</div>
				<div class="refund-step step-two">
					<div class="step-num">2</div>
					<p class="step-text">客服处理退款申请</p>
				</div>
				<div class="refund-step step-three">
					<div class="step-num">3</div>
					<p class="step-text">客服确认</p>
				</div>
				<div class="refund-step step-four">
					<div class="step-num">4</div>
					<p class="step-text">退款完成</p>
				</div>
			</div>
		</div>
		<div class="refund-content clearfix">
			<div class="refund-details">
				
			</div>
			<div class="refund-form">
				
			</div>
		</div>
	</div>
</div>
</body>
</html>
