<div class="footer-content">
	<div class="index-footer">
		<div class="footer-promise clearfix">
			<a class="footer-promise-item">
				<i class="footer-promise-icon zheng"></i>
				<span class="footer-promise-text">100%品牌授权正品</span>
				<b class="footer-promise-desc"></b>
			</a>
			<a class="footer-promise-item">
				<i class="footer-promise-icon you"></i>
				<span class="footer-promise-text">汇聚全网底价优品</span>
				<b class="footer-promise-desc"></b>
			</a>
			<a class="footer-promise-item">
				<i class="footer-promise-icon huan"></i>
				<span class="footer-promise-text">7天无理由退换</span>
				<b class="footer-promise-desc"></b>
			</a>
			<a class="footer-promise-item">
				<i class="footer-promise-icon bao"></i>
				<span class="footer-promise-text">全网包邮</span>
			</a>
		</div>
		<div class="footer-desc clearfix">
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">关于我们</dt>
				<dd class="footer-desc-item"><a href="#">关于我们</a></dd>
				<dd class="footer-desc-item"><a href="#">诚聘英才</a></dd>
				<dd class="footer-desc-item"><a href="#">服务条款</a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">帮助中心</dt>
				<dd class="footer-desc-item"><a href="#">新手上路</a></dd>
				<dd class="footer-desc-item"><a href="#">服务指南</a></dd>
				<dd class="footer-desc-item"><a href="#">常见问题</a></dd>
				<dd class="footer-desc-item"><a href="#">在线客服</a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">支付方式</dt>
				<dd class="footer-desc-item"><a href="#">支付宝</a></dd>
				<dd class="footer-desc-item"><a href="#">微信钱包</a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">商家入驻</dt>
				<dd class="footer-desc-item"><a href="#">入驻说明</a></dd>
				<dd class="footer-desc-item"><a href="#">入驻资质</a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">会员服务</dt>
				<dd class="footer-desc-item"><a href="#">积分攻略</a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dt class="footer-desc-title">记住我们</dt>
				<dd class="footer-desc-item"><a href="#">记住域名：<span>ytx.com</span></a></dd>
				<dd class="footer-desc-item"><a href="#">百
				<dt class="footer-desc-title">下载手机版</dt>度搜索：<span>迎天下</span></a></dd>
				<dd class="footer-desc-item"><a href="#">收藏本站：<span>加入收藏</span></a></dd>
			</dl>
			<dl class="footer-desc-list">
				<dd class="footer-desc-item">
					<img src="../../static/images/code.png" class="footer-desc-code"/>
				</dd>
			</dl>
		</div>
	</div>
</div>