<div class="site-nav-content">
	<div class="site-nav clearfix">
		<div class="login-info">
			<a href="#" class="sn-user">Hi,<span>User123123</span></a>
			<a href="#" class="sn-mes">消息<b class="sn-mes-num">0</b></a>
			<a href="#" class="sn-logout">退出</a>
		</div>
		<div class="quick-menu">
			<a href="#" class="sm-quick-link">我关注的品牌</a>
			<a href="#" class="sm-quick-link">我的订单</a>
			<a href="#" class="sm-quick-link">收藏夹</a>
			<a href="#" class="sm-quick-link themeColor">品牌入驻</a>
			<a href="#" class="sm-quick-link">我是卖家</a>
		</div>
	</div>
</div>
<div class="logo-container">
	<div class="logo-content clearfix">
		<div class="logo">
			<img src="#" class="logoImage"/>
		</div>
		<div class="search-content">
			<div class="clearfix">
				<div class="search-box">
					<input type="text" class="search-main" />
				</div>
				<div class="search-submitBtn">
					<span class="search-submitBtn-icon"></span>
				</div>
			</div>
			<div class="popular-search">
				<a href="#" class="popular-search-link themeColor">女装</a>
				<a href="#" class="popular-search-link">男装</a>
				<a href="#" class="popular-search-link">潮童</a>
				<a href="#" class="popular-search-link themeColor">内衣</a>
				<a href="#" class="popular-search-link">鞋履</a>
				<a href="#" class="popular-search-link">户外运动</a>
			</div>
		</div>
		<div class="app-content">
			<img src="../../static/images/code.png" class="app-code-image"/>
			<p class="app-desc">手机客户端</p>
			<p class="app-desc themeColor">扫我有惊喜</p>
		</div>
	</div>
</div>