<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-订单回收站</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="header">
		<div class="header-topNav-container">
			<div class="header-topNav">
				<a href="#" class="header-topNav-link">登录</a>
				<a href="#" class="header-topNav-link">注册</a>
				<a href="#" class="header-topNav-link">购物车</a>
				<a href="#" class="header-topNav-link">我的订单</a>
			</div>
		</div>
		<div class="header-topLogo-container clearfix">
			<div class="header-logo-container">
				<img src="#" class="header-logo" alt="迎天下-logo" />
			</div>
			<div class="header-search-container">
				<div class="header-search-box clearfix">
					<input type="text" class="header-search-input"/>
					<span class="header-search-submit">
						<i class="header-search-icon"></i>
					</span>
				</div>
				<div class="header-search-keywords-container">
					<a href="#" class="header-search-keywords-item yellow">连衣裙</a>
					<a href="#" class="header-search-keywords-item">牛仔裤</a>
					<a href="#" class="header-search-keywords-item">皮夹克</a>
					<a href="#" class="header-search-keywords-item">大衣</a>
					<a href="#" class="header-search-keywords-item">高跟鞋</a>
				</div>
			</div>
			<div class="header-promise-container">
				<i class="header-promise-icon"></i>
				<p class="header-promise-text">闪电发货</p>
			</div>
			<div class="header-promise-container">
				<i class="header-promise-icon"></i>
				<p class="header-promise-text">全场正品</p>
			</div>
		</div>
		<div class="header-nav-container">
			<div class="header-nav">
				<a href="#" class="header-link">首页</a>
				<a href="#" class="header-link">服饰</a>
				<a href="#" class="header-link">鞋履</a>
				<a href="#" class="header-link">特卖</a>
			</div>
		</div>
	</div>
	<div class="main-content-container">
		<div class="center-container clearfix">
			<div class="center-sidebar">
				<div class="center-sidebar-module">
					<h3 class="center-sidebar-title">我的交易</h3>
					<div class="center-sidebar-slider">
						<a href="#" class="center-sidebar-link">订单管理</a>
						<a href="#" class="center-sidebar-link">售后管理</a>
						<a href="#" class="center-sidebar-link">收获地址</a>
					</div>
				</div>
				<div class="center-sidebar-module">
					<h3 class="center-sidebar-title">我的资产</h3>
					<div class="center-sidebar-slider">
						<a href="#" class="center-sidebar-link">优惠卷</a>
						<a href="#" class="center-sidebar-link">红包</a>
						<a href="#" class="center-sidebar-link">我的积分</a>
					</div>
				</div>
				<div class="center-sidebar-module">
					<h3 class="center-sidebar-title">个人中心</h3>
					<div class="center-sidebar-slider">
						<a href="#" class="center-sidebar-link">我的资料</a>
						<a href="#" class="center-sidebar-link">我的分享</a>
						<a href="#" class="center-sidebar-link">我的收藏 </a>
					</div>
				</div>
			</div>
			<div class="center-main">
				<div class="order">
					<div class="order-tabBar">
						<span class="tab active">所有订单<span class="sum">(<em>1</em>)</span><span class="line"></span></span>
						<span class="tab">待付款<span class="sum">(<em>1</em>)</span><span class="line"></span></span>
						<span class="tab">待发货<span class="sum">(<em>1</em>)</span><span class="line"></span></span>
						<span class="tab">待收货<span class="sum">(<em>1</em>)</span><span class="line"></span></span>
						<span class="tab">待评价<span class="sum">(<em>1</em>)</span><span class="line"></span></span>
						<a href="#" class="tab recycle">
							<i class="recycle-icon"></i>
							<span class="recycle-text">订单回收站</span>
						</a>
					</div>
					<div class="order-table zoom" id="orderTable">
						<div class="table-thead clearfix">
							<div class="th th-item">商品</div>
							<div class="th th-price">单价（元）</div>
							<div class="th th-acount">数量</div>
							<div class="th th-pay">实付款（元）</div>
							<div class="th th-status">交易状态</div>
							<div class="th th-action">交易操作</div>
						</div>
						<div class="page-controler clearfix">
							<div class="controler next">
								<span>下一页</span>
								<i></i>
							</div>
							<div class="controler prev">
									<i></i>
								<span>上一页</span>
							</div>
						</div>
						<div class="order-container closeorder">
							<div class="order-body">
								<div class="order-title">
									<input type="checkbox" class="order-checkbox" />
									<span class="order-text">订单编号：<b>8850779041697</b></span>
									<span class="order-text">成交时间：<b>2015-10-22 10:21:18</b></span>
								</div>
								<div class="body clearfix">
									<div class="td td-item zoom">
										<div class="item-container clearfix">
											<div class="item">
												<a href="#" class="item-image-con">
													<img src="#" class="item-image" />
												</a>
												<div class="item-sku">
													<a href="#" class="name"><span class="brand"><b>七匹狼</b>-</span>2015冬季新款韩版店主风男士棒七匹狼七匹狼</a>
													<div class="sku">
														<span class="sku-text">颜色：</span>
														<span class="sku-text">红色</span>
													</div>
													<div class="sku">
														<span class="sku-text">尺码：</span>
														<span class="sku-text">S</span>
													</div>
												</div>
											</div>
											<div class="price">
												<p class="ori-price">￥2000.00</p>
												<p class="cur-price">￥12.00</p>
											</div>
											<div class="acount">1</div>
										</div>
										<div class="item-container clearfix">
											<div class="item">
												<a href="#" class="item-image-con">
													<img src="#" class="item-image" />
												</a>
												<div class="item-sku">
													<a href="#" class="name"><span class="brand"><b>七匹狼</b>-</span>2015冬季新款韩版店主风男士棒七匹狼七匹狼</a>
													<div class="sku">
														<span class="sku-text">颜色：</span>
														<span class="sku-text">红色</span>
													</div>
													<div class="sku">
														<span class="sku-text">尺码：</span>
														<span class="sku-text">S</span>
													</div>
												</div>
											</div>
											<div class="price">
												<p class="ori-price">￥2000.00</p>
												<p class="cur-price">￥12.00</p>
											</div>
											<div class="acount">1</div>
										</div>
									</div>
									<div class="td td-border td-pay">
										<div class="content">
											<strong class="pay">￥280.00</strong>
											<p class="express">（运费已免<del>￥15.00</del>）</p>
										</div>
									</div>
									<div class="td td-border td-status">
										<div class="content">
											<a href="#" class="action-link">交易成功</a>
											<a href="#" class="action-link">订单详情</a>
											<a href="#" class="action-link">交易失败</a>
											<a href="#" class="action-link">失效</a>
											<a href="#" class="action-link">交易超时</a>
										</div>
									</div>
									<div class="td td-border td-action">
										<div class="content">
											<a href="#" class="action-link">还原订单</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="rate-pages-list">
						<a href="#" class="rate-page">上一页</a>
						<a href="#" class="rate-page active">1</a>
						<a href="#" class="rate-page">2</a>
						<span href="#" class="rate-page-break">...</span>
						<a href="#" class="rate-page">6</a>
						<a href="#" class="rate-page">7</a>
						<a href="#" class="rate-page">8</a>
						<a href="#" class="rate-page">9</a>
						<a href="#" class="rate-page">下一页</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../static/js/domReady.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/myorder.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
