<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-确认订单</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="header">
		<div class="header-topNav-container">
			<div class="header-topNav">
				<a href="#" class="header-topNav-link">登录</a>
				<a href="#" class="header-topNav-link">注册</a>
				<a href="#" class="header-topNav-link">购物车</a>
				<a href="#" class="header-topNav-link">我的订单</a>
			</div>
		</div>
	</div>
	<div class="main-content-container">
		<div class="paycontainer">
			<div class="pay-top clearfix">
				<div class="pay-desc">
					<div class="success-con">
						<i class="success-icon"></i>
						<span class="success-text">订单提交成功，仅差一步完成购买，请尽快支付！</span>
					</div>
					<!--<div class="success-time">请在<span class="yellow">25</span>分<span class="yellow">25</span>秒内完成支付。</div>-->
				</div>
				<div class="pay-value-con">
					<span class="pay-text">应付金额：</span>
					<strong class="pay-value">￥1596</strong>
				</div>
			</div>
			<div class="pay-choose clearfix">
				<a href="#" class="pay-item">
					<i class="pay-icon Alipay"></i>
					<span class="text">支付宝支付</span>
				</a>
				<a href="#" class="pay-item">
					<i class="pay-icon wechat"></i>
					<span class="text">微信支付</span>
				</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
