<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-订单支付</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<!--head-->
	<div class="payMain">
		<div class="pay-status">
			<i class="pay-status-icon fail"></i>
			<div class="pay-status-text">
				<h2 class="pay-status-title">支付失败</h2>
				<p class="pay-status-p"><a href="#" class="pay-status-link">重新支付</a><a href="#" class="pay-status-link">返回首页&gt;</a></p>
			</div>
		</div>
		<p class="pay-text center">您可以再次尝试支付或者更换支付方式</p>
	</div>
	<!--foot-->
</div>
</body>
</html>
