<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-订单支付</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<!--head-->
	<div class="payMain">
		<div class="pay-status">
			<i class="pay-status-icon"></i>
			<div class="pay-status-text">
				<h2 class="pay-status-title">支付成功</h2>
				<p class="pay-status-p"><a href="#" class="show-orderStatus">查看订单状态？</a><a href="#" class="pay-status-link">查看订单&gt;</a></p>
			</div>
		</div>
		<p class="pay-text center">安全提醒：迎天下不会以付款异常、卡单、系统升级为由要求您退款，谨防诈骗！<br />不要将<span class="pay-text-alert">银行卡、密码、手机验证码</span>提供给他人，遇此情况请终止通话或举报到迎天下</p>
	</div>
	<!--foot-->
</div>
</body>
</html>
