<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-购物车</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<!--head-->
	<div class="main-content-container">
		<div class="cart-container">
			<div class="cart-empty clearfix">
				<div class="cart-empty-left">
					<img src="../../static/images/cart_empty.png"/>
				</div>
				<div class="cart-empty-right">
					<p class="cart-empty-text">购物车空空如也，<br />快去选购心仪商品吧~</p>
					<div class="cart-empty-actions">
						<a href="#" class="cart-empty-action buyNow">立即选购</a>
						<a href="#" class="cart-empty-action showOrder">查看订单</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</script>
</html>
