<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-提交订单</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="header">
		<div class="header-topNav-container">
			<div class="header-topNav">
				<a href="#" class="header-topNav-link">登录</a>
				<a href="#" class="header-topNav-link">注册</a>
				<a href="#" class="header-topNav-link">购物车</a>
				<a href="#" class="header-topNav-link">我的订单</a>
			</div>
		</div>
	</div>
	<div class="main-content-container">
		<div class="submitOrder">
			<h1 class="submitorder-title">订单详情</h1>
			<div class="order-num">订单编号：<span class="order-numVal">123123123123</span>当前状态：<span class="order-status">等待付款</span></div>
			<div class="orderStep-container">
				<div class="orderStep-line">
					<div class="orderstep-step step-one active">
						<div class="step-num">1</div>
						<div class="step-text">提交订单</div>
						<div class="step-time">2015-10-23 11:32:32</div>
					</div>
					<div class="orderstep-step step-two">
						<div class="step-num">2</div>
						<div class="step-text">买家支付</div>
					</div>
					<div class="orderstep-step step-three">
						<div class="step-num">3</div>
						<div class="step-text">卖家发货</div>
					</div>
					<div class="orderstep-step step-four">
						<div class="step-num">4</div>
						<div class="step-text">确认收货</div>
					</div>
					<div class="orderstep-step step-five">
						<div class="step-num">5</div>
						<div class="step-text">评价</div>
					</div>
				</div>
			</div>
			<div class="submitOrder-detail">
				<div class="order-title">详细信息</div>
				<p class="order-details">收货人：杰神</p>
				<p class="order-details">收货地址：浙江省 杭州市 西湖区 浙江省杭州市 文一西路与崇义交叉口郡原公元里9幢9单元6楼</p>
				<p class="order-details">收货邮编：310000</p>
				<p class="order-details">联系电话：18524528155</p>
			</div>
			<div class="orderItems-list">
				<div class="order-title">商品清单</div>
				<table class="orderList-table">
					<thead class="orderList-thead">
						<tr class="orderList-tr">
							<th class="orderList-th" width="290">商品</th>
							<th class="orderList-th" width="120">单价（元）</th>
							<th class="orderList-th" width="140">数量</th>
							<th class="orderList-th" width="150">优惠（元）</th>
							<th class="orderList-th" width="144">状态</th>
							<th class="orderList-th" width="144">运费（元）</th>
						</tr>
					</thead>
					<tbody class="orderList-tbody">
						<tr class="orderList-tr">
							<td class="orderList-title" width="990" colspan="6">订单编号：<span class="order-list-num">8850779041697</span><span class="order-list-time">2015-10-29 10:46:33</span></td>
						</tr>
						<tr class="orderList-tr">
							<td class="borderTd clearfix" colspan="4">
								<table>
									<tbody class="innerTbody">
										<tr class="trBorder">
											<td class="clearfix" width="290" style="padding: 20px;">
												<a href="#" class="orderList-imgcon">
													<img src="#" class="orderList-img"/>
												</a>
												<div class="orderList-namecon">
													<a href="#" class="orderList-name">2015冬季新款韩版店主风男士棒球领多色宽松棉...</a>
													<p class="orderList-sku-item">颜色: 灰色</p>
													<p class="orderList-sku-item">尺码: XL</p>
												</div>
											</td>
											<td class="orderList-td" width="120">
												<span class="itemPrice">140.00</span>
											</td>
											<td class="orderList-td" width="140">
												<span class="itemVal">1</span>
											</td>
											<td class="orderList-td" width="150">
												<span class="itemActivity">疯抢继续省186.10</span>
											</td>
										</tr>
										<tr class="trBorder">
											<td class="clearfix" width="290" style="padding: 20px;">
												<a href="#" class="orderList-imgcon">
													<img src="#" class="orderList-img"/>
												</a>
												<div class="orderList-namecon">
													<a href="#" class="orderList-name">2015冬季新款韩版店主风男士棒球领多色宽松棉...</a>
													<p class="orderList-sku-item">颜色: 灰色</p>
													<p class="orderList-sku-item">尺码: XL</p>
												</div>
											</td>
											<td class="orderList-td" width="120">
												<span class="itemPrice">140.00</span>
											</td>
											<td class="orderList-td" width="140">
												<span class="itemVal">1</span>
											</td>
											<td class="orderList-td" width="150">
												<span class="itemActivity">疯抢继续省186.10</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="orderList-td statusBorder" width="100" rowspan="2">
								<span class="orderStatus">等待付款</span>
							</td>
							<td class="orderList-td actionBorder" width="100" rowspan="2">
								<del class="order-text">15.00</del>
								<p class="orderList-action">(快递已免)</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="order-controler">
				<div class="order-controler-time">您还有<span class="timeVal">29</span>分<span class="timeVal">59</span>秒支付订单，延时订单将自动关闭。<a href="#" class="timeLink">（查看支付帮助）</a></div>
				<div class="order-action">
					<a href="#" class="pay">支付订单</a>
					<a href="#" class="cancel">取消订单</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../static/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/orderDetail.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
