<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>迎天下帮助中心-售后服务</title>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/help_common.css"/>
</head>
<body>
<div class="YTX-container">
	<div class="header-content">
		<div class="header">
			<a href="#" class="header-left-controler">
				<i class="header-left-icon"></i>
			</a>
			<div class="header-title">
				<span class="header-title-text">商品相关</span>
			</div>
			<a href="javascript:" class="header-right-controler">
				<i class="header-right-icon"></i>
			</a>
		</div>
	</div>
	<div class="main-container">
		<div class="main-title">
			<i class="main-title-icon"><img src="../static/images/icon_2.png"/></i>
			<span class="main-title-text">售后服务</span>
			<i class="main-title-arrow"></i>
		</div>
		<div class="main-content">
			<h2 class="main-content-title">退换货流程</h2>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">未发货情况下：</p>
					<dl class="steps">
						<dt class="step-text">买家申请</dt>
						<dd class="step-arrow"></dd>
						<dt class="step-text">客服确认</dt>
						<dd class="step-arrow"></dd>
						<dt class="step-text">退款成功</dt>
					</dl>
				</div>
			</div>
			<div class="paragraph clearfix bottomLine">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">已发货情况下：</p>
					<dl class="steps">
						<dt class="step-text">买家申请</dt>
						<dd class="step-arrow"></dd>
						<dt class="step-text">客服确认</dt>
						<dd class="step-arrow"></dd>
						<dt class="step-text">退货完成</dt>
						<dd class="step-arrow"></dd>
						<dt class="step-text">退款成功</dt>
					</dl>
				</div>
			</div>
			<h2 class="main-content-title">投诉与建议</h2>
			<div class="paragraph clearfix">
				<p class="main-content-paragraph">如果您在购物中等遇到问题或者对商品存在异议，可以通过我们网站的在线反馈系统提交您的投诉或者建议。</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
