<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>迎天下帮助中心-支付宝</title>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/help_common.css"/>
</head>
<body>
<div class="YTX-container">
	<div class="header-content">
		<div class="header">
			<a href="#" class="header-left-controler">
				<i class="header-left-icon"></i>
			</a>
			<div class="header-title">
				<span class="header-title-text">支付方式</span>
			</div>
			<a href="javascript:" class="header-right-controler">
				<i class="header-right-icon"></i>
			</a>
		</div>
	</div>
	<div class="main-container">
		<div class="main-title">
			<i class="main-title-icon"><img src="../static/images/icon_7.png"/></i>
			<span class="main-title-text">支付宝</span>
			<i class="main-title-arrow"></i>
		</div>
		<div class="main-content">
			<div class="main-image-content wechat-image">
				<img src="../static/images/img_1.jpg"/>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">在支付时，您可以选择支付宝。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">关于支付宝支付限额：</p>
					<p class="main-content-paragraph">信用卡快捷支付的支付限额（电脑端、无线端）</p>
					<p class="main-content-paragraph">1. 同一张银行卡电脑端与无线端额度共享，不同银行卡额度分开计算；</p>
					<p class="main-content-paragraph">2. 若产品限额与支付限额冲突的，统一取低</p>
					<p class="main-content-paragraph">3. 部分用户经历史交易以及快捷支付使用情况综合评估，限额为：单笔2000元、单日2000元、单月1万元，暂时无法提升，如需完成当次支付，可通过其他支付方式完成</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">限额仅做参考，具体请以收银行台页面显示为准</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">若支付时收银台页面无限额提示，超限后会进行提示</p>
				</div>
			</div>
			<div class="alipay-table-content">
				<table class="alipay-table">
					<thead class="alipay-thead">
						<tr>
							<th class="alipay-th firstTh">银行</th>
							<th class="alipay-th lastTh">额度</th>
						</tr>
					</thead>
					<tbody class="alipay-tbody">
						<tr>
							<td class="alipay-td">工商银行</td>
							<td class="alipay-td">单笔1万、单日10万、单月10万</td>
						</tr>
						<tr>
							<td class="alipay-td">农业银行</td>
							<td class="alipay-td">单笔2万、单日2万、单月20万</td>
						</tr>
						<tr>
							<td class="alipay-td">建设银行</td>
							<td class="alipay-td">单笔5万、单日5万、单月10万</td>
						</tr>
						<tr>
							<td class="alipay-td">中国银行</td>
							<td class="alipay-td">卡额度</td>
						</tr>
						<tr>
							<td class="alipay-td">平安银行</td>
							<td class="alipay-td">单笔5万、单日5万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">交通银行</td>
							<td class="alipay-td">单笔2万、单日2万、单月5万</td>
						</tr>
						<tr>
							<td class="alipay-td">招商银行</td>
							<td class="alipay-td">单笔3万、单日3万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">浦发银行</td>
							<td class="alipay-td">单笔10万、单日10万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">邮储银行</td>
							<td class="alipay-td">单笔2万、单日2万、单月5万</td>
						</tr>
						<tr>
							<td class="alipay-td">兴业银行</td>
							<td class="alipay-td">单笔5万、单日10万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">广发银行</td>
							<td class="alipay-td">单笔3万、单日3万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">华夏银行</td>
							<td class="alipay-td">单笔5000、单日无限额、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">民生银行</td>
							<td class="alipay-td">卡额度</td>
						</tr>
						<tr>
							<td class="alipay-td">广大银行</td>
							<td class="alipay-td">单笔5万、单日5万、单月无限额</td>
						</tr>
						<tr>
							<td class="alipay-td">中兴银行</td>
							<td class="alipay-td">卡额度</td>
						</tr>
						<tr>
							<td class="alipay-td">各城商行</td>
							<td class="alipay-td">以收银台显示为准<br />若支付时收银台页面无限额提示，超限后会进行提示</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>
