<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>迎天下帮助中心-7天无理由退换货</title>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/help_common.css"/>
</head>
<body>
<div class="YTX-container">
	<div class="header-content">
		<div class="header">
			<a href="#" class="header-left-controler">
				<i class="header-left-icon"></i>
			</a>
			<div class="header-title">
				<span class="header-title-text">商品相关</span>
			</div>
			<a href="javascript:" class="header-right-controler">
				<i class="header-right-icon"></i>
			</a>
		</div>
	</div>
	<div class="main-container">
		<div class="main-title">
			<i class="main-title-icon"><img src="../static/images/icon_1.png"/></i>
			<span class="main-title-text">7天无理由退换</span>
			<i class="main-title-arrow"></i>
		</div>
		<div class="main-content">
			<h2 class="main-content-title">《7天无理由退货条例总则》</h2>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">以下情况消费者可在签收7天内无理由退货：</p>
					<p class="main-content-paragraph">1商品质量问题</p>
					<p class="main-content-paragraph">2商品及商品本身包装保持出售时原装且配件赠品资料齐全，不影响二次销售。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">以下类型商品不支持7天无理由退货：</p>
					<p class="main-content-paragraph">1消费者个人定制类商品；</p>
					<p class="main-content-paragraph">2网站销售时明确告知不参与7天无理由退货的商品；</p>
					<p class="main-content-paragraph">3其他依法不应办理退换货的（详见各类商品退货细则）。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">订单退货时效：</p>
					<p class="main-content-paragraph">自订单签收次日起7日内（以快递公司的送货单上的签收日期为准）。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">退货运费由谁承担</p>
					<p class="main-content-paragraph">1因商品质量问题产生的退货，退货运费平台承担；</p>
					<p class="main-content-paragraph">2因个人原因产生的退货，退货运费由个人承担。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">关于换货：</p>
					<p class="main-content-paragraph">迎天下商品均以限时限量的抢购模式进行销售，库存有限，暂不提供换货服务。</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
