<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>迎天下帮助中心-会员服务</title>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/help_common.css"/>
</head>
<body>
<div class="YTX-container">
	<div class="header-content">
		<div class="header">
			<a href="#" class="header-left-controler">
				<i class="header-left-icon"></i>
			</a>
			<div class="header-title">
				<span class="header-title-text">新手帮助</span>
			</div>
			<a href="javascript:" class="header-right-controler">
				<i class="header-right-icon"></i>
			</a>
		</div>
	</div>
	<div class="main-container">
		<div class="main-title">
			<i class="main-title-icon"><img src="../static/images/icon_5.png"/></i>
			<span class="main-title-text">会员服务</span>
			<i class="main-title-arrow"></i>
		</div>
		<div class="main-content">
			<h2 class="main-content-title">1. 账号注册</h2>
			<div class="paragraph clearfix">
				<p class="main-content-paragraph">您无需额外浪费宝贵时间注册账号，只需要扫一扫二维码即可实现微信联合登录。</p>
				<p class="main-content-paragraph">成功登陆后，您可以修改您的个人资料，编辑您的收货地址等内容。</p>
			</div>
			<h2 class="main-content-title">2. 推广分享</h2>
			<div class="paragraph clearfix">
				<p class="main-content-paragraph">在迎天下购物时可以邀请好友注册或者对商品进行分享。当邀请好友注册时，好友完成购物您即可获得相应的红包。</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
