<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>迎天下帮助中心-微信钱包</title>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/help_common.css"/>
</head>
<body>
<div class="YTX-container">
	<div class="header-content">
		<div class="header">
			<a href="#" class="header-left-controler">
				<i class="header-left-icon"></i>
			</a>
			<div class="header-title">
				<span class="header-title-text">支付方式</span>
			</div>
			<a href="javascript:" class="header-right-controler">
				<i class="header-right-icon"></i>
			</a>
		</div>
	</div>
	<div class="main-container">
		<div class="main-title">
			<i class="main-title-icon"><img src="../static/images/icon_2.png"/></i>
			<span class="main-title-text">微信钱包</span>
			<i class="main-title-arrow"></i>
		</div>
		<div class="main-content">
			<div class="main-image-content wechat-image">
				<img src="../static/images/img_1.jpg"/>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">在支付时，您可以选择微信支付。</p>
				</div>
			</div>
			<div class="paragraph clearfix">
				<div class="main-content-descCon"><i class="main-content-desc"></i></div>
				<div class="main-content-text">
					<p class="main-content-paragraph">关于微信支付限额：</p>
					<p class="main-content-paragraph">请进入微信中的“我的钱包”（或钱包）=》钱包=》点击需要查看限额的银行卡即可查看。</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
