<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>迎天下ERP管理系统首页</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
<script src="../../static/js/domReady.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/sidebar.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/type.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	myReady(function(){
		sidebar();
		type();
	});
</script>
</head>
<body>
<div class="erp-container">
	<div class="headerCon">
		<div class="header clearfix">
			<div class="logoCon"><img src="" alt="迎天下ERP-logo" class="logo"/></div>
			<div class="header-controler-con">
				<a href="#" class="header-controler header-controler-logout">user123123</a>
				<a href="#" class="header-controler header-controler-center"><i class="header-controler-center-icon"></i><span class="header-controler-text">我的中心</span></a>
				<a href="#" class="header-controler header-controler-user"><i class="header-controler-user-icon"></i><span class="header-controler-text">退出</span></a>
			</div>
		</div>
	</div>
	<div class="container clearfix">
		<div class="public-leftSidebar" id="sidebar">
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-index"></i>
					<span class="PL-list-title-text">首页管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item PL-list-activeItem"><a href="#">官网首页管理</a></li>
					<li class="PL-list-item"><a href="#">APP首页管理</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-company"></i>
					<span class="PL-list-title-text">商家管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">商家入驻审核</a></li>
					<li class="PL-list-item"><a href="#">商家列表</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-brand"></i>
					<span class="PL-list-title-text">品牌管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">品牌管理</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-goods"></i>
					<span class="PL-list-title-text">商品管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">新增商品</a></li>
					<li class="PL-list-item"><a href="#">商品列表</a></li>
					<li class="PL-list-item"><a href="#">尺寸模版</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-marketing"></i>
					<span class="PL-list-title-text">销售管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">销售数据</a></li>
					<li class="PL-list-item"><a href="#">订单分析</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-sell"></i>
					<span class="PL-list-title-text">售后管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">售后管理</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-cal"></i>
					<span class="PL-list-title-text">结算管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">保证金管理</a></li>
					<li class="PL-list-item"><a href="#">销售结算</a></li>
					<li class="PL-list-item"><a href="#">费用调整</a></li>
					<li class="PL-list-item"><a href="#">平台收支明细</a></li>
					<li class="PL-list-item"><a href="#">账单列表</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-data"></i>
					<span class="PL-list-title-text">数据中心</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">经营概况</a></li>
					<li class="PL-list-item"><a href="#">专场分析</a></li>
					<li class="PL-list-item"><a href="#">团购分析</a></li>
					<li class="PL-list-item"><a href="#">专场单品分析</a></li>
					<li class="PL-list-item"><a href="#">团购场单品分析</a></li>
					<li class="PL-list-item"><a href="#">用户分析</a></li>
					<li class="PL-list-item"><a href="#">流量分析</a></li>
					<li class="PL-list-item"><a href="#">地域分析</a></li>
					<li class="PL-list-item"><a href="#">转化复购分析</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-activity"></i>
					<span class="PL-list-title-text">活动管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">迎品汇管理</a></li>
					<li class="PL-list-item"><a href="#">迎粉团管理</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-tools"></i>
					<span class="PL-list-title-text">营销工具</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">优惠卷</a></li>
					<li class="PL-list-item"><a href="#">红包</a></li>
					<li class="PL-list-item"><a href="#">首单优惠</a></li>
					<li class="PL-list-item"><a href="#">新人福利</a></li>
					<li class="PL-list-item"><a href="#">分享有奖</a></li>
					<li class="PL-list-item"><a href="#">福袋</a></li>
					<li class="PL-list-item"><a href="#">积分兑换</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-erp"></i>
					<span class="PL-list-title-text">接口管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">erp接口</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-user"></i>
					<span class="PL-list-title-text">会员管理</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">会员分析</a></li>
				</ul>
			</div>
			<div class="PL-list">
				<h3 class="PL-list-title clearfix">
					<i class="PL-list-icon PL-list-icon-system"></i>
					<span class="PL-list-title-text">公告系统</span>
				</h3>
				<ul class="Pl-list-content">
					<li class="PL-list-item"><a href="#">APP推送</a></li>
					<li class="PL-list-item"><a href="#">PC站内信</a></li>
				</ul>
			</div>
		</div>
		<div class="erp-main">
			<div class="erp-main-title-con clearfix" style="margin-top:0;">
				<h1 class="erp-main-title">分类管理</h1>
				<div class="erp-main-title-btn">导入</div>
			</div>
			<div class="category-con">
				<div class="category-list clearfix" id="cateCon">
					<div class="category-item">
						<p class="category-item-title">一级类目</p>
						<div class="category-attr-list-con">
							<ul class="category-attr-list" id="C_list">
								<li class="category-attr-item">
									<span class="category-attr-name">服装</span>
									<a class="category-attr-delete">删除</a>
								</li>
								<li class="category-attr-item">
									<span class="category-attr-name">服装</span>
									<a class="category-attr-delete">删除</a>
								</li>
								<li class="category-attr-item">
									<span class="category-attr-name">服装</span>
									<a class="category-attr-delete">删除</a>
								</li>
							</ul>
							<!--<div class="category-add-con">
								<input type="text" class="category-attr-input" />
								<b class="category-attr-add">确定</b>
							</div>-->
						</div>
						<div class="category-action" id="C_acitons">
							<span class="category-action-addNew">新增</span>
							<span class="category-action-addNewType">新增下一级</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
