<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<title>迎天下-'商品名'</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
</head>
<body>
<div class="main-container">
	<div class="main-content-container">
		<div class="detail-content clearfix">
			<div class="itemoff-box">
				<p class="itemoff-text1">很抱歉，您查看的宝贝不存在，可能已下架或者被转移。</p>
				<p class="itemoff-text2">您可以：</p>
				<ul class="itemoff-list">
					<li>1. 检查刚才的输入</li>
					<li>2. 到 <a href="javascript:;">帮助中心</a> 寻求帮助</li>
					<li>3. 去其他地方逛逛：<a href="javascript:;">迎天下首页</a> 丨 <a href="javascript:;">迎天下首页</a> 丨 <a href="javascript:;">迎天下首页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/domReady.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/itemdetail.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
